body {
    background-image: url("https://images.unsplash.com/photo-1595475349262-88ba1e1eecaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1400&q=80");
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

#newTrip {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: rgb(120, 152, 240);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    border-style: none;
    border-radius: 5px
}

h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 500 
}

h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 300
}

.trips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 50px;
}

.card {
    position: relative;
    background-color: white;
    height: 300px;
    width: 200px;
    align-self: center;
    text-align: center
}

.card img {
    object-fit: cover;
    max-height: 150px
}

.card h4 {
    font-size: 20px
}

.card p {
    font-size: 15px
}

.card .cardButton {
    background-color: transparent;
    border-radius: 5px;
    border-width: thin;
    position: absolute;
    top: 0;
    right: 0;
    
}


.showTrip {
    position: relative;
    background-color: white;
    height: auto;
    min-height: 1000px;
    padding: 50px;
    margin: 30px
}

.showTrip .back {
    justify-content: center;
    background-color: rgb(120, 152, 240);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 300;
    border-style: none;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
}