body {
    background-image: url("https://images.unsplash.com/photo-1595475349262-88ba1e1eecaf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1400&q=80");
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 500 
}

h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 300
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px
}

.card {
    border-radius: .25rem;
    background-color: white;
    height: 250px;
    width: 200px
}
